*{
        padding: 0%;
        margin: 0%;
        height: auto;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
    }
    .menubar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }
.providelist:hover{
    color: rgb(0, 121, 111);
}
.menubar:hover{
    background-color: yellow;
}
.welcome {
    font-family: "Style Script", cursive;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
  }
.contact:link{
    color: yellow;
}
#popup-overlay{
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.foot{
        font-family: "Style Script", cursive;
        font-weight: 500;
        color: rgb(0, 121, 111);
        font-style: normal;
        text-align: center;
}